body{
    background-color: darkslategray;
    color: blanchedalmond;
    
}
h1{
    display: flex;
    justify-content: center;
    padding: 100px;
}
button{
    background-color: rgb(5, 5, 5);
    color: bisque;
    font-weight: bolder;
    height: 36px;
    width: 100px;
    
}
.div{
    display: flex;
    justify-content: space-around;
    padding-left: 36px;
    padding-right: 36px;
    
    
}